@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');


:root {
    --primary: #060606;
    --dark: #6E6E6E;
    --body: #fff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
    margin: 0;
    padding: 0;

}



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: "Cairo", sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: auto; 
   
}



header{

    height: 100px;
    width: 100%;
    z-index: 12;
    position: fixed;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2vh;
    padding-right: 5vh;
    align-items: center;
    min-height: 8vh;

    background-color: white;
    font-family: "Cairo", sans-serif ;

}




.logo {
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 21px;
}

.logo a h4{
    text-decoration: none;
    color: black;
    
}

.nav-links{
    
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav-links li {
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 13px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div{
    width: 24px;
    height: 3px;
    border-radius: 2px;
    background-color: black;
    margin: 5px;
    
}



@media screen and (max-width: 1024px) {
    
    .nav-links{
    
        width: 50%;
        
    }
    
}


@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden ;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 8vh;

        background-color: rgba(221, 199, 183, 0.938);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    } 
    .nav-links li{
        opacity: 0;

    }
    .burger {
        display: block;
    }
}

.nav-active {

    transform: translateX(0%) ;
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }

}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


section{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;

}


.lieneb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero {
    background-image: url(Images/maincover.jpg);
    background-position: 0% 40%;
    background-size: cover;
   
    
/*
    z-index: 2;


}

.hero ::after {
content: "";
width: 100%;
height: 100%;

top: 0;
left: 0;



z-index: -1;
 */

}


        






.portfolio-container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio {
    height: auto;
    background-color: rgba(221, 199, 183, 0.178) ;
    padding: 100px 7px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    margin: 0 0 5px;
    position: relative;
}
.text-center {
    text-align: center;

}

.section-title h1:before {
    content: "";
    left: 0;
    position: absolute;
    height: 2px;
    right: 32%;
    background-color: gray;
    bottom: 0px;
}

.portfolio .section-title h1:before {
    left: 30%;
}

.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;

}

.portfolio .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;

}
.portfolio .filter-buttons ul li {
    color: black;
    font-weight: 500;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}

.portfolio .filter-buttons ul li.active {
    color: gray;
    border-bottom: 2px solid gray;


}

.portfolio .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;

}


.portfolio .portfolio-gallery .item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}


a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.inner{
    text-align: center;
    color: rgba(0, 0, 0, 0.466);
    font-size: 25px;
    position: relative;

}



.inner img{
   
    width: 100%;
    height: auto;
}



.inner img {
    box-shadow: 0.1em 0 .2em gray;
    
}

.inner-text,
.inner::after{
    width: 100%;
    position: absolute;
    left: 0;
  
}

.inner::after{
    content: "";
    height: 100%;
    top: 0;
    transition: .3s;
 
}

.inner:hover::after{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.623), rgba(128, 128, 128, 0.267));

   
}

a h3{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.479);
}

.inner-text {
    padding: 20px;
    margin-bottom: 200px;
    bottom: 0;
    z-index: 1;
    transform: translateY(100px);
    transition: all .3s cubic-bezier(.13,.63,.81,.91) 0s;
    opacity: 0;
    
}

/* inner-text h3{
}
*/

.inner:hover .inner-text {
    transform: translateY(0);
    opacity: 1;
  
}





.portfolio .portfolio-gallery .item .inner {
    position: relative;
    text-align: center;
    

}


.portfolio .portfolio-gallery .item .inner  img {
    width: 100%;
    height: auto;
}



@media (max-width: 768px) {
    

    .inner-text,
    .inner::after{
       display: none;
      
    }
    
    .inner::after{
        display: none;
     
    }
    
    .inner:hover::after{
       display: none;
       
    }
    
    a h3{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.479);
    }
    
    .inner-text {
        padding: 20px;
        margin-bottom: 200px;
        bottom: 0;
        z-index: 1;
        transform: translateY(100px);
        transition: all .3s cubic-bezier(.13,.63,.81,.91) 0s;
        opacity: 0;
        
    }
    
    /* inner-text h3{
    }
    */
    
    .inner:hover .inner-text {
        display: none;
      
    }



    .portfolio .portfolio-gallery .item {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        padding: 8px;
    }



}







.services-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.services-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    margin: 0 0 5px;
    position: relative;
}
.text-center {
    text-align: center;

}

.services-title h1:before {
    content: "";
    left: 25%;
    position: absolute;
    height: 2px;
    right: 25%;
    background-color: gray;
    bottom: 0px;
}

.services-section .section-title h1:before {
    left: 30%;
}

















.services-section {
    height: auto;
    padding-top: 120px;
    padding-bottom: 120px;

}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: rgba(221, 199, 183, 0.178);
    padding: 25px;
    transition: all .3s ease ;

}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(153, 106, 74, 0.274);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}

h5{
    font-weight: 800;
}

.service ::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(153, 105, 74, 0.8);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;

}

.service:hover .iconbox {
    background-color: rgba(153, 105, 74, 0.8);
    color: #fff;

}

.service:hover h5, 
.service:hover p {
    color: #fff;
}

.service:hover ::after {
    opacity: 1;
    top: 0;

}

.footer {
    padding: 40px 0;
    background-color: rgba(221, 199, 183, 0.178);
    height: 30vh;

}

.footer .social {
    text-align: center;
    padding-bottom: 20px;
    color: black;

}

.footer .social a{
    font-size: 24px;
    color: inherit;
    display: inline-block;
    text-align: center;
    opacity: 0.7;

}

.footer .social a:hover {
    opacity: 1;
}

.footer ul{

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    padding-left: 5vh;
    padding-right: 5vh;
}

.footer ul li{
    display: inline-block;
    padding: 0.15px;
}

.footer ul li a:hover{
    opacity: 1;
    color: black;
}

.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    color: black;
}